<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>Searcher</servlet-name>
        <servlet-class>com.dlc.uniquework.servlets.SearcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileAccess</servlet-name>
        <servlet-class>com.dlc.uniquework.servlets.FileAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Indexer</servlet-name>
        <servlet-class>com.dlc.uniquework.servlets.IndexerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectoyIndexer</servlet-name>
        <servlet-class>com.dlc.uniquework.servlets.DirectoryIndexerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Searcher</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileAccess</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Indexer</servlet-name>
        <url-pattern>/indexer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectoryIndexer</servlet-name>
        <url-pattern>/dirindexer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
